@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
    --SourceSansPro: "Source Sans Pro", sans-serif;
}

/* HTML Tags styling */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* COMMON STYLING STARTS HERE */

.container-lg {
    padding-right: 100px;
    padding-left: 100px;
}

/* fonts */
.font-w-300 {
    font-weight: 300;
}

.font-w-600 {
    font-weight: 600;
}

.font-w-900 {
    font-weight: 900;
}

/* backgrounds */
.bg-yellow {
    background-color: #ffcb00;
}

.bg-light-grey {
    background-color: #f8f8f8;
}

.bg-black {
    background-color: #2a2a2a;
}

/* Texts */
.text-charcoal {
    color: #333;
}

.text-darkgrey-1 {
    color: #3f3f3f;
}

.text-darkgrey-2 {
    color: #7a7a7a;
}

.text-darkgrey-3 {
    color: #8f8f8f;
}

.text-white {
    color: #fff;
}

.text-lg,
.text-md,
.text-sm {
    font-family: var(--SourceSansPro);
    font-size: 25px;
    letter-spacing: 0.66px;
    font-weight: normal;
}

.text-md {
    font-size: 21px;
}

.text-sm {
    font-size: 19px;
}

.text-center {
    text-align: center;
}

/* headings */
.heading-1,
.heading-2 {
    font-family: var(--SourceSansPro);
    font-size: 50px;
    letter-spacing: 1.3px;
    font-weight: normal;
}

.heading-2 {
    font-size: 40px;
    letter-spacing: 1.04px;
}

/* Title */
.title-1 {
    font-family: var(--SourceSansPro);
    font-size: 30px;
    letter-spacing: 0.78px;
    font-weight: normal;
}

/* Button */
.btn-lg {
    padding: 19px 29px 22px 30px;
    border: 1px solid #3e3e3e;
}

/* COMMON STYLING ENDS HERE*/

/* Navbar */
header {
    position: absolute;
    top: 60px;
    width: 100%;
    padding:0 100px;
    box-sizing: border-box;
  
}
.navigation{
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 35px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.nav-link {
    transition: all 0.2s linear;
}

.fa-sharp {
    font-size: 25px;
}


.dropdown-menu {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    background-color: transparent;
    border: none;
    display: none
}


/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(108deg, #fceb6f 17%, #fede60 77%);
    padding-top: 200px;
}

.banner-heading {
    margin-top: 80px;
}

.banner-paragraph {
    margin-top: 70px;
    width: 500px;
}

.banner-buttons {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    gap: 60px;
}

.btn-apple {
    border-radius: 100px;
    animation: backgroundChanger 2s 2s linear 1 forwards;
}

.btn-googleplay {
    border-radius: 12px;
    animation: backgroundChanger 2s 2s linear 1 forwards;
}

.fa-apple,
.fa-google-play {
    margin-right: 17px;
    font-size: 30px;
}

.banner-image {
    object-fit: fill;
}

/* how-it-works */
.how-it-works {
    margin-top: 80px;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.step {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.step-img {
    align-self: center;
}

.step-text {
    margin-top: 40px;
}

/* Social buttons */
.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    gap: 60px;
}

/* Download section */
.download-section {
    margin-top: 60px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.yellow-box {
    position: absolute;
    left: 13%;
    width: 180px;
    height: 700px;
    background-color: #ffcc0060;
    z-index: 2;
}

.download-text {
    z-index: 3;
}

.download-paragraph {
    margin-top: 44px;
    width: 560px;
}

/* Join us now section */
.join-section {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-paragraph {
    margin-top: 48px;
    width: 750px;
}

.join-form {
    margin-top: 57px;
    display: flex;
    gap: 50px;
}

.join-input {
    width: 404px;
    height: 70px;
    padding: 0 40px 0 41px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
    outline: none;
    border: none;
}

.join-input::placeholder {
    opacity: 0.19;
    font-family: var(--SourceSansPro);
    font-size: 20px;
    letter-spacing: 0.52px;
    color: #3f3f3f;
}

.join-btn {
    display: inline-block;
    padding: 20px 40px 20px 41px;
    background-image: linear-gradient(103deg, #fceb6f 15%, #fede60 78%);
    border: none;
    font-weight: bolder;
}

.join-btn:hover {
    box-shadow: 0 6px 9px 0 rgba(244, 214, 58, 0.59);
}

/* Footer */
.footer {
    margin-top: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 84px 0 23px 0;
}

.footer-links {
    display: flex;
    gap: 16px;
}

.footer-links {
    margin-top: 22px;
}

.footer-copyright {
    margin-top: 35px;
}

@keyframes backgroundChanger {
    0% {
        background-color: white;
    }

    50% {
        background-color: #333;
        color: white;
    }

    100% {
        background-color: transparent;
    }
}





/* MEDIA QUERIES*/
@media screen and (max-width: 1000px) {

    /* common styling media queries */
    .text-lg {
        font-size: 16px;
    }


    header {
        padding: 0 100px;
        top:40px
    }

    .navbar {
        gap: 20px;
    }

    .nav-item {
        margin-top: 10px;
    }

    .heading-2 {
        font-size: 25px;
    }

    /* banner */
    .banner {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 200px;
    }

    .banner-heading {
        margin-top: 0;
    }

    .banner-paragraph {
        margin-top: 20px;
        width: 250px;
    }

    .download-image {
        width: 70%;
        margin-top: 80px;
    }
    .banner-image{
        width: 70%;
    }

    .banner-buttons {
        margin-top: 40px;
        flex-wrap: wrap;
        gap: 25px;
    }

    .fa-apple,
    .fa-google-play {
        margin-right: 7px;
        font-size: 20px;
    }

    .btn-lg {
        padding: 12px;
    }

    .heading-1 {
        font-size: 35px;
    }

    .heading-2 {
        font-size: 30px;
    }

    .title-1 {
        font-size: 22px;
    }

    .text-md {
        font-size: 13px;
    }

    .text-sm {
        font-size: 11px;
    }

    /* How it works */
    .steps {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .social-buttons {
        flex-direction: row;
    }

    .btn-apple {
        margin-bottom: 0;
        margin-right: 60px;
    }

    /* Download section */
    .download-section {
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }

    .download-paragraph {
        width: 100%;
    }

    .download-image {
        margin-top: 30px;
    }

    .yellow-box {
        display: none;
    }

    /* Join us sections */
    .join-section {
        margin: 58px 20px 0;
    }

    .join-paragraph {
        width: 300px;
    }

    .join-form {
        flex-direction: column;
    }

    .join-input {
        width: 100%;
        height: 40px;
        align-self: center;
        padding: 0 20px 0 21px;
    }

    .join-input::placeholder {
        font-size: 14px;
    }

    .join-btn {
        align-self: center;
        height: 40px;
        padding: 10px 20px 0 21px;
    }

    /* Footer */
    .footer-links {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

}

@media screen and (min-width: 670px) {

    

    .banner-image,
    .download-image {
        width: 40%;
        margin-top: 100px;
        margin-left: 50px;
    }
    .banner-image{
        width: 70%;
    }

    .fa-apple,
    .fa-google-play {
        margin-right: 7px;
        font-size: 20px;
    }

    .btn-lg {
        padding: 10px 20px 12px 20px;
    }

    /* How it works */
    .steps {
        flex-direction: row;
    }

    /* Download section */
    .download-section {
        flex-direction: row;
    }

    /* Join us section */
    .join-form {
        flex-direction: row;
    }

    .join-paragraph {
        width: 400px;
    }

    .join-input {
        width: 304px;
        height: 50px;
        padding: 0 25px 0 31px;
    }

    .join-btn {
        padding: 10px 25px 0 31px;
        background-image: linear-gradient(103deg, #fceb6f 15%, #fede60 78%);
    }

    /* Footer */
    .footer-links {
        flex-direction: row;
    }
}

@media screen and (min-width: 801px) {

    /* header media queries */
    .text-lg {
        font-size: 18px;
    }


    /* Banner */
    .banner-image,
    .download-image {
        width: 40%;
        margin-top: 0;
        margin-left: 50px;
    }

    /* Download section */
    .download-section {
        flex-direction: row;
    }
    .yellow-box{
        left: 13%;
    }
}




@media screen and (max-width: 670px) {
    header{
        justify-content: space-between;
        padding: 15px;
        top: 0px;
        width: 100%;
    }
    .banner{
        padding-top:120px;
    }
    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        padding:0 40px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        margin-top: 30px;
    }

    .dropdown-menu {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .container-lg {
        padding-right: 50px;
        padding-left: 50px;
    }

}


@media screen and (min-width: 1400px) {

    .banner {
        justify-content: center;

    }

    .banner-image,
    .download-image {
        width: 30%;
        object-fit: contain;
    }

    .steps {
        justify-content: center;
        gap: 150px;
    }

    .download-section {
        justify-content: center;
        gap: 150px;
    }
    .yellow-box{
        left: 30%;
    }
}

@media screen and (min-width: 1700px) {
    .download-image {
        width: 15%;
        object-fit: contain;
    }
    .yellow-box{
        left: 35%;
    }
}