@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
    --SourceSansPro: "Source Sans Pro", sans-serif;
}

/* HTML Tags styling */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* COMMON STYLING STARTS HERE */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

}

/* fonts */
.font-w-300 {
    font-weight: 300;
}

.font-w-600 {
    font-weight: 600;
}

.font-w-900 {
    font-weight: 900;
}

/* backgrounds */
.bg-yellow {
    background-color: #ffcb00;
}

.bg-dark-blue {
    background-color: #11072a;
}

.bg-black {
    background-color: #0b032c;
}

/* Texts */
.text-charcoal {
    color: #333;
}

.text-darkgrey-1 {
    color: #3f3f3f;
}

.text-darkgrey-2 {
    color: #7a7a7a;
}

.text-darkgrey-3 {
    color: #8f8f8f;
}

.text-white {
    color: #fff;
}

.text-lg,
.text-md,
.text-sm {
    font-family: var(--SourceSansPro);
    font-size: 25px;
    letter-spacing: 0.66px;
    font-weight: normal;
}

.text-md {
    font-size: 21px;
}

.text-sm {
    font-size: 19px;
}

.text-center {
    text-align: center;
}

/* headings */
.heading-1,
.heading-2 {
    font-family: var(--SourceSansPro);
    font-size: 50px;
    letter-spacing: 1.3px;
    font-weight: normal;
}

.heading-2 {
    font-size: 40px;
    letter-spacing: 1.04px;
}

/* Title */
.title-1 {
    font-family: var(--SourceSansPro);
    font-size: 30px;
    letter-spacing: 0.78px;
    font-weight: normal;
}

/* Button */
.btn-lg {
    padding: 19px 29px 22px 30px;
    border: 1px solid #3e3e3e;
}

/* COMMON STYLING ENDS HERE*/
/* Navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    overflow-y: hidden;
    z-index: 10;
    background-color: #2a2a2a;
}

.navigation {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.responsive-nav-text {
    font-family: var(--SourceSansPro);
    font-size: 25px;
    letter-spacing: 0.66px;
    font-weight: normal;
}

.logo {
    width: 80px;
    height: 55px;
}
.logo-image{
    filter: grayscale(100%);
}
.navbar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.nav-link {
    transition: all 0.2s linear;
    color: #ffffff;
}

.fa-sharp {
    font-size: 25px;
}


.dropdown-menu {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    background-color: transparent;
    border: none;
    display: none;
}


/* Banner */
.banner-section {
    background-image: linear-gradient(108deg, #376aec 17%, #31238e 77%);
}

.banner {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.banner-text {
    max-width: 550px;
    color: #ffffff;
}

.banner-heading {
    margin-top: 80px;
    color: #ffffff;
}

.banner-paragraph {
    margin-top: 70px;
    color: #ffffff;
}

.banner-buttons {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    gap: 60px;
}

.btn-apple {
    border-radius: 100px;
    border: 1px solid #ffffff;
    animation: backgroundChanger 2s 2s linear 1 forwards;
    color: #ffffff;
}

.btn-googleplay {
    border-radius: 12px;
    border: 1px solid #ffffff;
    animation: backgroundChanger 2s 2s linear 1 forwards;
    color: #ffffff;
}

.fa-apple,
.fa-google-play {
    margin-right: 17px;
    font-size: 30px;
}

.banner-image {
    max-width: 550px;
    aspect-ratio: 3/2;
}


/* how-it-works */
.how-it-works {
    margin-top: 80px;
}

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.step {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.step-img {
    align-self: center;
}

.step-text {
    margin-top: 40px;
}



/* Social buttons */
.social-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 96px;
    gap: 60px;
}



/* Download section */
.download-section {
    margin-top: 60px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.download-text {
    z-index: 3;
}

.download-paragraph {
    margin-top: 44px;
    max-width: 400px;
}

.download-image {
    max-width: 500px;
}




/* Join us now section */
.join-section {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-paragraph {
    margin-top: 48px;
    max-width: 750px;
}

.join-form {
    margin-top: 57px;
    display: flex;
    gap: 50px;
}

.join-input {
    min-width: 400px;
    padding: 20px 40px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
    outline: none;
    border: none;
}

.join-input::placeholder {
    opacity: 0.19;
    font-family: var(--SourceSansPro);
    font-size: 20px;
    letter-spacing: 0.52px;
    color: #3f3f3f;
}

.join-btn {
    display: inline-block;
    padding: 20px 40px 20px 41px;
    background-image: linear-gradient(103deg, #376aec 17%, #31238e 77%);
    border: none;
    font-weight: bolder;
}

.join-btn:hover {
    box-shadow: 0 6px 9px 0 rgba(58, 117, 244, 0.59);
}

/* Footer */
.footer {
    margin-top: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 84px 0 23px 0;
}

.footer-links {
    display: flex;
    gap: 16px;
}

.footer-links {
    margin-top: 22px;
}

.footer-copyright {
    margin-top: 35px;
}



/* Media Queries */
@media screen and (max-width: 768px) {

    .responsive-nav-text {
        font-size: 35px;
    }

    .navbar {
        gap: 20px;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }


    .responsive-nav-text {
        font-size: 35px;
    }

    .btn-lg {
        padding: 12px;
    }

    .navigation {
        flex-direction: column;
        padding: 0 40px 0 20px;
        box-sizing: border-box;
    }

    .dropdown-menu {
        width: 100%;
    }

    .navbar {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .banner {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 140px 20px 0;
    }

    .banner-heading {
        margin-top: 0;
    }

    .banner-paragraph {
        margin-top: 20px;
        width: 250px;
    }


    .banner-buttons {
        margin-top: 40px;
        flex-wrap: wrap;
        gap: 25px;
    }

    .fa-apple,
    .fa-google-play {
        margin-right: 7px;
        font-size: 20px;
    }


    .social-buttons {
        gap: 30px;
    }

    .download-section {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .join-form {
        flex-direction: column;
    }

    .join-btn {
        align-self: center
    }

    .join-input {
        min-width: 200px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

}

@media screen and (max-width: 1000px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .banner-image,
    .download-image {
        max-width: 330px;
    }

    .banner-image {
        aspect-ratio: 1/1;
    }

    .heading-2 {
        font-size: 24px;
    }

    .text-lg {
        font-size: 16px;
    }

    .btn-lg {
        padding: 10px 15px 15px;
    }

    .text-lg {
        font-size: 16px;
    }


    .nav-item {
        margin-top: 10px;
        font-size: 25px;
    }

    .heading-1 {
        font-size: 35px;
    }

    .heading-2 {
        font-size: 30px;
    }

    .title-1 {
        font-size: 22px;
    }

    .text-md {
        font-size: 13px;
    }

    .text-sm {
        font-size: 11px;
    }

    .heading-2 {
        font-size: 25px;
    }


}